<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.codex.vaxineapp" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="VaxineApp.Android" android:theme="@style/MainTheme" android:icon="@drawable/AppIcon">
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyC0MK9z32qNs969hit10M0nVATE0pi0UN0" />
  </application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>